---

heat_template_version: {{ ci_env_heat_template_version }}

parameters:
  # Image parameters
  gitlab_image:
    type: String
  gitlab_runner_image:
  nexus_image:
  jenkins_image:
  proxy_image:

  # Network configuration


conditions:

resources:

output:
